<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting label="32000" type="text" id="login" />
    <setting label="32001" type="text" id="pass" option="hidden" />
    <setting type="sep" />
    <setting label="32002" type="bool" id="onStopPlaying" default="true" />
    <setting type="sep" />
    <setting label="32010" type="bool" id="debug" default="false" />
</settings>